<header>
  <a href="/profile">
    <img src="/images/trapezoid_logo.svg">
  </a>
  <div id="top-menu">
    <nav class="horizontal-bar buttons">
      <ul>
        <li><a href="/login">Login</a></li>
            <li><a href="/signup">Create account</a></li>
      </ul>
    </nav>
  </div>
</header>
<main id="about-us">
  <div>
    <h3>Who we are</h3>
    <article>
      <p>Hey! Alonso & Scott here. We met at LaunchSchool in July 2021, and
       immediately bonded over our shared appreciation of plaid shirts.</p><br>

      <p>We are also both non-Americans living in the United States. Alonso is
       originally from Spain and now lives in New York City while Scott is
        originally from Canada and now lives in San Francisco.</p><br>

      <p>In the highly unlikely event that you'd like to learn more about us,
       check out our lsPeers profiles!</p><br>
    </article>
  </div>
  <img id="team-selfie" src="images/team_selfie.png" alt="team selfie">
</main>
