<header>
  <a href="/profile">
    <img src="/images/trapezoid_logo.svg">
  </a>
  <div id="top-menu">
    <nav class="horizontal-bar buttons">
      <ul>
        <li><a href="/login">Login</a></li>
            <li><a href="/signup">Create account</a></li>
      </ul>
    </nav>
  </div>
</header>
<main id="contribute">
  <div>
    <h3>Want to contribute?</h3>
    <article>
      <p>Great! We'd also love to hear your ideas for how we can improve the site.</p><br>
      <p>Check out the Github repo <a href="https://github.com/ls-peers/ls-peers" target="_blank" rel="noopener">here</a>.</p><br>

      <p>Hit us up on Slack and let's chat :) You can find our contact in our
       profiles. After all, that's the whole point!</p>
    </article>
  </div>
</main>
