<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>lsPeers</title>
    <meta charset='utf-8' />
    <link rel='stylesheet' href='/stylesheets/styles.css'>
  </head>
  <body>
    <div id='front-page'>
      <header>
        <nav class="horizontal-bar buttons">
          <ul>
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Create account</a></li>
          </ul>
        </nav>
      </header>
      <main>
        <iframe src="images/trapezoid_large.svg"></iframe>
      </main>
      <div id="name">
        <h2>
          <span class='subscript'>LS</span>Peers
        </h2>
      </div>
      <div id="tagline">
        <p>Find your next study partner in minutes...</p>
      </div>
      <footer>
        <nav class="horizontal-bar">
          <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/about">Contribute</a></li>
          </ul>
        </nav>
      </footer>
    </div>
  </body>
</html>
