<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='stylesheet' href='/stylesheets/styles.css'>
  </head>
  <body>
    <div id='container'>
      <div id='header'>
        <nav>
          <ul>
            <li><a href="#">Login</a></li>
            <li><a href="#">Create account</a></li>
          </ul>
        </nav>
      </div>
      <div id="image">
        <div class='svg-container'>
          <iframe class='svg-content' src="images/trapezoid.svg"></iframe>
        </div>
      </div>
      <div id="name">
        <h2>
          <span class='subscript'>LS</span>Peers
        </h2>
      </div>
      <div id="tagline">
        <p>Find your next study partner in minutes...</p>
      </div>
      <div id='footer'>
        <nav>
          <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Contribute</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </body>
</html>
