@import 'whitespace-reset.css';

html {
  font-family:Arial, Helvetica, sans-serif;
}

h2 {
  font-size: 4em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
  font-weight: 100;
}

a {
  text-decoration: none;
}

footer nav ul li a {
  color: rgb(183, 183, 183);
}

nav.horizontal-bar {
  height: 100%;
}

nav.horizontal-bar ul {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-end;
  gap: 10px;
  margin-right: 10px;
}

nav.horizontal-bar.buttons ul li a {
  display: inline-block;
  padding: 10px;
  background-color: #6666FF;
  border-radius: 4px;
  color: white;
}

.btn {
  display: inline-block;
  padding: 10px;
  background-color: #6666FF;
  border-radius: 4px;
  color: white;
}

button {
  padding: 10px;
  height: 40px;
  background-color: #6666FF;
  border-radius: 4px;
  border: none;
  color: white;
  font-size: 1em;
  cursor: pointer;
}

iframe {
  border: none;
  height: 100%;
  width: 100%;
}

.subscript {
  font-size: 0.5em;
}

#layout {
  padding: 20px;
  box-sizing: border-box;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 80px 1fr 30px;
  row-gap: 5vh;
}

#layout header {
  grid-row: 1;
  display: grid;
  grid-template-columns: 160px 1fr;
  justify-content: center;
}

#layout header a {
  grid-row: 1;
  grid-column: 1;
  display: grid;
}

#layout header a img {
  align-self: center;
}

#layout header #top-menu {
  grid-row: 1;
  grid-column: 2;
}

#layout #profile main {
  grid-row: 2;
  display: grid;
  grid-template-rows: 100px 1fr 100px;
  row-gap: 10px;
}

main #profile-title {
  grid-row: 1;
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 20px;
  margin-bottom: 30px;
}

#profile-title #profile-image {
  grid-column: 1;
  height: 100%;
}

#profile-title #profile-name {
  grid-column: 2;
  align-self: center;
}

main #profile-details {
  max-height: 250px;
  margin-left: 20px;
  grid-row: 2;
  display: grid;
  grid-template-columns: 350px 1fr;
  column-gap: 10px;
}

#profile-details dt {
  font-weight: bold;
  margin: auto 0 auto 0;
}

#profile-details #line-fields {
  grid-column: 1;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  align-content: center;
}

#line-fields dd {
  margin: auto 0 auto 0;
}

#profile-details #block-fields {
  display: grid;
  grid-column: 2;
  grid-template-rows: .5fr 1fr .5fr 1fr;
}

main#signup {
  overflow-x: hidden;
  display: grid;
  grid-template-rows: auto 1fr 2em;
  row-gap: 20px;
  max-width: 960px;
}

form.signup {
  display: grid;
  max-width: 550px;
  grid-template-columns: auto 1fr;
  grid-template-rows: 2em 2em 2em 60px;
  row-gap: 10px;
}

button.create-login-account {
  align-self: end;
  width: 150px;
}

main#login {
  overflow-x: hidden;
  display: grid;
  grid-template-rows: auto 1fr 2em;
  row-gap: 20px;
  max-width: 960px;
}

form.login {
  display: grid;
  max-width: 550px;
  grid-template-columns: auto 1fr;
  grid-template-rows: 2em 2em 60px;
  row-gap: 10px;
}

main#profile-edit {
  overflow-x: hidden;
  display: grid;
  grid-template-rows: auto 1fr 2em;
  row-gap: 20px;
  max-width: 960px;
}

#profile-edit form {
  display: grid;
  max-width: 550px;
  grid-template-columns: auto 1fr;
  grid-template-rows: 2em 2em 2em 2em 2em 5em 5em 60px;
  gap: 10px;
}

main#search {
  overflow-x: hidden;
  display: grid;
  grid-template-rows: auto 1fr 1fr;
  row-gap: 20px;
  max-width: 960px;
}

#search form {
  display: grid;
  max-width: 550px;
  grid-template-columns: auto 1fr;
  grid-template-rows: 2.5em 4em 4em 5em 60px;
  gap: 10px;
}



#layout footer {
  grid-row: 3;
  grid-column: 1;
}

#front-page {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 60px 1fr 150px 2fr 60px;
}

#front-page header {
  grid-row: 1;
  grid-column: 1 / 4;
  grid-template-columns: 3;
}

#front-page main {
  grid-row: 3;
  grid-column: 1;
  align-self: end;
  padding-right: 20px;
}

#front-page footer {
  grid-row: 5;
  grid-column: 1 / 4;
}

#front-page #name {
  grid-row: 3;
  grid-column: 2;
  align-self: end;
}

#front-page #tagline {
  grid-row: 4;
  grid-column: 2 / 4;
}

.flash {
  display: inline-block;
  width: 100%;
  padding: 10px 20px;
  margin: 20px auto 1.5em auto;
  color: #3399cc;
  background: #CBE5F2;
}

.flash p {
  font-size: 14px;
  font-weight: bold;
}

.flash.error {
  color: #ff6633;
  background: #FFCFBF;
}

.flash.success {
  color: #33cc99;
  background: #CBF2E5;
}

input {
  padding-left: 10px;
}

ul.preferences {
  list-style: circle;
}

#profile-image {
  border-radius: 50%;
}

#user-results {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 10px;
}

.vertically-center {
  margin-top: auto;
  margin-bottom: auto;
}

#last-active {
  font-style: italic;
}